/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    overflow: hidden;
}

/* HERO */
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #fff;
}

/* SLIDER */
.slider {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 2.5s ease-in-out;
    will-change: opacity;
}

/* OVERLAY */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

/* CONTENT */
.content {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT */
.left .logo {
    font-size: 100px;
    font-weight: 700;
    text-transform: lowercase;
}

.subtitle {
    letter-spacing: 3px;
    margin: 10px 0 40px;
}

/* LOGO IMAGE (base) */
.logo {
    max-width: 240px;
    margin-bottom: 10px;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 26px;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    transition: 0.3s;
}

.btn:hover {
    background: #000;
    color: #fff;
}

.btn-outline {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.btn-outline:hover {
    background: #fff;
    color: #000;
}

/* RIGHT */
.right {
    text-align: center;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1.5px;
    font-weight: 600;
    max-width: 420px;
}

/* DECOR */
.til {
    width: 90px;
    opacity: 0.8;
}

.til.top {
    margin-bottom: 20px;
}

.til.bottom {
    margin-top: 20px;
}

/* SEO ONLY */
.seo-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

/* MOBILE */
@media (max-width: 768px) {

    .content {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .left {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 600;
    }

    .right {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 12px;
        text-align: center;
    }

    .buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo {
        max-width: 160px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 10px;
        border-radius: 3px;
    }
}




.slider {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 3.5s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity;
}

.slider.active {
    opacity: 1;
}



@media (min-width: 769px) {
    .slider {
        background-position: center 65%;
    }
}

